<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-graduation-cap"></i> Principia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="card p-3 h-100">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#stdRegModel">
            <i class="fa-solid fa-plus"></i> Add New
        </button>

        <!-- Modal -->
        <div class="modal fade" id="stdRegModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <form th:action="@{/students/addNew}" method="post">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new student</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="mb-3">
                                <label for="stdIdInp" class="form-label">Student Id</label>
                                <input type="text" class="form-control" id="stdIdInp" aria-describedby="emailHelp" name="Id">
                            </div>
                            <div class="mb-3">
                                <label for="firstNameInp" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstNameInp" aria-describedby="emailHelp" name="fName">
                            </div>
                            <div class="mb-3">
                                <label for="latNameInp" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="latNameInp" aria-describedby="emailHelp" name="lName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Department</label>
                                <select class="form-select" aria-label="Default select example" name="dept">
                                    <option selected>Open this select menu</option>
                                    <option value="IT">IT</option>
                                    <option value="SE">SE</option>
                                    <option value="BM">BM</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Reg Status</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="stdStatus" id="inlineRadio1" value="true">
                                    <label class="form-check-label" for="inlineRadio1">Registered</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="stdStatus" id="inlineRadio2" value="false">
                                    <label class="form-check-label" for="inlineRadio2">Unregistered</label>
                                </div>

                            </div>
                            <div class="mb-3">
                                <label for="dateInp" class="form-label">Reg Date</label>
                                <input type="date" class="form-control" id="dateInp" aria-describedby="emailHelp" name="updatedOn">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-s uccess">Save</button>
                            </div>
                    </div>

                </div>
            </div>
            </form>

        </div>

    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Department</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student:${students}">
            <td th:text="${student.id}">Id</td>
            <td th:text="${student.fName}">First Name</td>
            <td th:text="${student.lName}">Last Name</td>
            <td th:text="${student.dept}">Department</td>
            <td th:text="${student.stdStatus}">Status</td>

        </tr>

        </tbody>
    </table>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>